API_KEY=
API_MODE=chat
CONTEXT_OVERLAP_WINDOW=200
DEFAULT_FREQUENCY_PENALTY=
DEFAULT_PRESENCE_PENALTY=
DEFAULT_STOP_SEQUENCES=[]
LLAMA_INFILL_ENDPOINT=http://0.0.0.0:8012/infill
MODEL=
OPENAI_CHAT_URL=
OPENAI_ENDPOINT=https://api.openai.com/v1
STRIP_CODE_FENCES=true
STRIP_REPEATED_CONTEXT=true
SYSTEM_PROMPT=
TRIM_RESPONSE=true
